<section class="container">
    <div class="box">
        <div class="box-img">
            <img class="fundo" src="../../../assets/brand/fundoback.png" alt="VelozLab">
            <img class="frente" src="../../../assets/brand/frente.png" alt="VelozLab">
        </div>

    </div>
</section>

<section class="container">
    <div class="box">
        <div class="box-title">
            <h1>VELOZLAB</h1>
            <p>Acelerando seu crescimento de forma simples 😉 </p>
            <!-- <p>@velozlab ⚡︎ </p> -->
            <p>Em breve 🚀 </p>
        </div>
    </div>

</section>

